*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: white;
}
article{
    background-color: #13b3c1b6;
    border: 2px #13b3c1b6;
    padding: 5px;
    margin: 5px;
    color: white;
}
#nav-color{
    background: #9b2295;
}
